@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #111;
  color: #fff;
  font-family: 'Golos Text', sans-serif;
  line-height: 1.5;
}

h1 {
  margin-bottom: 20px;
}

button {
  padding: 10px;
  background-color: #198754;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #157347;
}

input,
textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #444;
  background-color: #2a2a2a;
  color: white;
  font-size: 1rem;
  margin: 10px 0;
}

textarea {
  resize: vertical;
}

.Toastify__close-button {
  background: transparent !important;
}
